<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>asteroid.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 383}, {5, 7.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{5, 7.75}</string>
			<key>spriteSourceSize</key>
			<string>{5, 7.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 383}, {5, 7.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sadfadsf</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 111}, {3.75, 3.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{3.75, 3.75}</string>
			<key>spriteSourceSize</key>
			<string>{3.75, 3.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{5, 111}, {3.75, 3.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Untitled_11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 115.25}, {4.25, 9.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{4.25, 9.75}</string>
			<key>spriteSourceSize</key>
			<string>{4.25, 9.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{5, 115.25}, {4.25, 9.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Untitled_12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 125}, {3.75, 3.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{3.75, 3.75}</string>
			<key>spriteSourceSize</key>
			<string>{3.75, 3.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{5, 125}, {3.75, 3.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Untitled_121</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{103, 255}, {104, 202}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 202}</string>
			<key>spriteSourceSize</key>
			<string>{104, 202}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{103, 255}, {104, 202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Untitled_122</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{103, 459}, {108, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{108, 24}</string>
			<key>spriteSourceSize</key>
			<string>{108, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{103, 459}, {108, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Untitled_13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 129.25}, {4.25, 9.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{4.25, 9.75}</string>
			<key>spriteSourceSize</key>
			<string>{4.25, 9.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{5, 129.25}, {4.25, 9.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Untitled_14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 139}, {3.75, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{3.75, 4}</string>
			<key>spriteSourceSize</key>
			<string>{3.75, 4}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{5, 139}, {3.75, 4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Untitled_157</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{139, 251}, {4, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{4, 4}</string>
			<key>spriteSourceSize</key>
			<string>{4, 4}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{139, 251}, {4, 4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Untitled_184</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{209, 375}, {3.75, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{3.75, 4}</string>
			<key>spriteSourceSize</key>
			<string>{3.75, 4}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{209, 375}, {3.75, 4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>SpaceFlier_sm_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {308, 454}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{308, 454}</string>
			<key>spriteSourceSize</key>
			<string>{308, 454}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{7, 3}, {308, 454}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Untitled_2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 261}, {98, 225.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 225.75}</string>
			<key>spriteSourceSize</key>
			<string>{98, 225.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1, 261}, {98, 225.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Untitled_257</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{315, 1}, {178, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{178, 104}</string>
			<key>spriteSourceSize</key>
			<string>{178, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{315, 1}, {178, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Untitled_259</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{316, 277.25}, {0.75, 0.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{0.75, 0.75}</string>
			<key>spriteSourceSize</key>
			<string>{0.75, 0.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 277.25}, {0.75, 0.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Untitled_260</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{317, 213}, {156, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{317, 213}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Untitled_263</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{319, 167.75}, {0.5, 2}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{0.5, 2}</string>
			<key>spriteSourceSize</key>
			<string>{0.5, 2}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{319, 167.75}, {0.5, 2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Untitled_266</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{320.5, 107}, {152.5, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152.5, 104}</string>
			<key>spriteSourceSize</key>
			<string>{152.5, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{320.5, 107}, {152.5, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Untitled_3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 487}, {50, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 20}</string>
			<key>spriteSourceSize</key>
			<string>{50, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1, 487}, {50, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Untitled_9</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 103}, {4.25, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{4.25, 8}</string>
			<key>spriteSourceSize</key>
			<string>{4.25, 8}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{5, 103}, {4.25, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Untitled_90</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{37, 259}, {4, 3.75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{4, 3.75}</string>
			<key>spriteSourceSize</key>
			<string>{4, 3.75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{37, 259}, {4, 3.75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>Sprites.png</string>
	</dict>
</dict>
</plist>
